@model IEnumerable<ADTest.Models.ViewModel.LecturerViewModel>

@{
    ViewData["Title"] = "Select Supervisor";
}

<h1>Select Supervisor</h1>

@if (@Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Lecturer Name</th>
                <th>Field of Study</th>
                <th>Domain</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.LecturerName)</td>
                    <td>@Html.DisplayFor(modelItem => item.FieldofStudy)</td>
                    <td>@Html.DisplayFor(modelItem => item.Domain)</td>
                    <td>
                        <a href="\assets\FYP Agreement.pdf" class="btn btn-primary" download>Download Agreement Form</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form id="applyForm" asp-action="Apply" method="post" style="display:none;">
        <input type="hidden" name="lecturerId" id="lecturerId" />
    </form>
}
else
{
    <h2>You don't have a supevisor assigned</h2>
    <a class="btn btn-primary" asp-controller="Students" asp-action="SelectSupervisor">Apply Supervisor</a>
}