@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container">
        <div class="main-content">
            @if (User.IsInRole("Admin") || User.IsInRole("Parent") || User.IsInRole("Therapist") || User.IsInRole("CustomerService"))
            {
                @if (User.IsInRole("Admin"))
                {
                    <div class="text-center">
                        <h1 class="display-4">Welcome admin</h1>
                        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                    </div>
                }
            }
            else
            {
                <div class="text-center">
                    <h1 class="display-4">Welcome</h1>
                    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                </div>
            }
        </div>
    </div>
</body>
