@model IEnumerable<ADTest.Models.ViewModel.ComitteeViewModel>

@{
    ViewData["Title"] = "Manage Committee";
    var programNames = ViewData["ProgramNames"] as Dictionary<string, string>;
}

<h1>Manage Committee</h1>

<p>
    <a asp-action="AssignCommittee">Assign Committee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Committee Name
            </th>
            <th>
                Committee ID
            </th>
            <th>
                Program
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CommitteeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommitteeId)
                </td>
                <td>
                    @programNames[item.CommitteeId]
                </td>
                <td>
                    <a asp-action="EditCommittee" asp-route-id="@item.CommitteeId">Edit</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
