@model List<Lecturer>

@{
    ViewData["Title"] = "Manage Committee";
    var programNames = ViewData["ProgramNames"] as Dictionary<string, string>;
}

<h1>Manage Committee</h1>

<p>
    <a asp-action="AssignCommittee">Assign Committee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Committee Name
            </th>
            <th>
                Committee ID
            </th>
            <th>
                Program
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LecturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LecturerId)
                </td>
                <td>
                </td>
                <td>
                    <a asp-controller="Lecturers" asp-action="Edit" asp-route-id="@item.LecturerId">Edit</a> |
                    <a asp-action="AssignNo" asp-route-lecturerId="@item.LecturerId">Unassign</a>
                </td>
            </tr>
        }
    </tbody>
</table>
